body {
  color:rgb(248, 250, 229);
  background-color: rgb(67, 118, 108);
  
}
#heading {
  text-align: center; /* Center the text horizontally */
  margin-top: 20px; /* Adjust the top margin as needed */
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px; /* Adjust the padding as needed */
  
  margin: 0px;
  margin-top: 20px;
  
}

.button {
  width: 45%; /* Set the width to 45% to leave some space between buttons */
  padding: 8px; /* Adjust the padding as needed */
  background-color: rgb(118, 69, 59); /* Set your preferred background color */
  color: #ffffff; /* Set the text color */
  border: none;
  border-radius: 5px; /* Add rounded corners if desired */
  cursor: pointer;
}

#report {
  background-color: rgb(177, 148, 112); /* Customize the background color for the report button */
}

#more {
  background-color: rgb(177, 148, 112); /* Customize the background color for the more button */
}

#start {
  display: block;
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 10px; /* Adjust the top margin as needed */
}