node_modules
# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React.js
/build
/dist

# Chrome Extension
/.crx
/*.pem
/*.key
/*.p12
/*.jks
/*.pfx

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

.env