/* AccordionComponent.css */

.accordion-section {
    border: 2px solid #526D82;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #112031;
  } 
  
  .accordion-title {
    background-color: #526D82;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  /* Toggle icon */
  .accordion-title::before {
    content: '\25B6'; /* Unicode character for right-pointing triangle */
    font-size: 16px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  
  .active .accordion-title::before {
    transform: rotate(90deg);
  }
  
  #prev {
    background-color: #526D82; /* Customize the background color for the report button */
  }
  
  #next {
    background-color:#526D82; /* Customize the background color for the more button */
  }